{% extends "front/base.html" %}
{%load static%}
{% if user.is_authenticated %}
    {% block connection %}
    {% endblock %}
{% endif %}

{% block content %}
<div class="containabout" style="text-align: left">
<P>Je vous présente Supshop !</P>
<p>Qu'est ce que c'est ?</p>
    <p>C'est un magasin partiellement automatisés ou les clients peuvent acheter des produits sans être vérifiés par un caissier</p>
  </div>     

<img class="supshop" src="{% static 'front/image/supshop.png' %}" alt="shop" width="600" height="400"/>

{% endblock %}