{% extends "front/base.html" %}
{%load static%}
{% load front_extras %}
{% if user.is_authenticated %}
    {% block connection %}
    {% endblock %}
{% endif %}

{% block content %}

<h1>Panier de {{ user.username }}</h1>
{% for cart in user.cart_set.all %}
<h3></h3>
<table>
    <tr>
        <th colspan="2">{{ cart.date|default_if_none:"panier courant" }}</th>
    </tr>
    <tr>

        <th class="article">Article</th>
        <th class="prix">Prix</th>
    </tr>

    {% for product in cart.product_set.all %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price|divide:100 }}€</td>

  </tr>
    {% endfor %}
</table>

{% endfor %}

{% endblock %}