{% extends "front/base.html" %}
{%load static%}
{% load front_extras %}
{% if user.is_authenticated %}
    {% block connection %}
    {% endblock %}
{% endif %}

{% block content %}

  {% for cart in user.cart_set.all %}
    <div class="cart">
      <div class="cart-meta">
        <p>{{ cart.date }}</p>
      </div>
      {% for product in cart.product_set.all %}
        <div class="product">
          <p>{{ product.name }}</p>
          <p>{{ product.price|divide:100 }}€</p>
        </div>
      {% endfor %}
    </div>


  {% endfor %}

{% endblock %}