{% extends "front/base.html" %}
{%load static%}
{% if user.is_authenticated %}
    {% block connection %}
    {% endblock %}
{% endif %}

{% block content %}

    
 <h3>Formulaire de contact</h3>

<div class="container">
  <form>
    <label for="nom">Nom</label>
    <input type="text" id="nom" name="nom" placeholder="Ton nom..">

    <label for="prenom">Prenom   </label>
    <input type="text" id="prenom" name="prenom" placeholder="Ton prenom..">

    <label for="country">Pays</label>
    <select id="country" name="country">
      <option value="australia"></option>
      <option value="canada">France</option>
      <option value="canada">Belgique</option>
      <option value="canada">England</option>
      <option value="usa">USA</option>
    </select>

    <label for="sujet">Sujet</label>
    <textarea id="sujet" name="sujet" placeholder="Dites nous tous :)" style="height:200px"></textarea>

    <input type="submit" value="Envoyer">
  </form>
</div>   
{% endblock %}