<!DOCTYPE html>
{%load static%}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>SupShop</title>
    <link rel="stylesheet" href="{% static 'front/style/styles.css' %}" />
    <link rel="icon" href="{% static 'front/image/cadi.ico' %}" />
    </head>
<body>
    
<!--TOPNAVIGATION-->
    
<div class="topnav">
  <a class="active" href="/front">Accueil</a>
  <a href="achat">Mes achats</a>
  <a href="contact">Contact</a>
  <a href="about">A propos</a>
    <div class="topnav-right">
        <button onclick="document.getElementById('id02').style.display='block'" 
        style="width:auto;">Connexion</button>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Inscription</button>
    </div>
</div>

<div style="padding-left:16px">
  <h2>Bienvenue chez Supshop !</h2>
  <p>Pour accedez à votre platforme veuillez vous inscire et télécharger l'application</p>
    <img style="padding-left:300px" src="{% static 'front/image/phoneappli.png' %}" alt="phone" width="600" height="400">
</div>

<!--popup inscription-->
    
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" method="post" action="#">
    <div class="container">
      <h1>Inscription</h1>
      <p>Merci de remplir les champs pour créer votre compte</p>
      <hr>
      <label for="Nom"><b>Nom</b></label>
      <input type="text" placeholder="Nom" name="Nom" required>
        
      <label for="Prenom"><b>Prenom</b></label>
      <input type="text" placeholder="Prenom" name="Prenom" required>
        
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="exemple.ex@exemple.com" name="email" required>

      <label for="psw"><b>Mot de passe</b></label>
      <input type="password" placeholder="mot de passe" name="psw" required>

      <label for="psw-repeat"><b>Confirmation de mot de passe</b></label>
      <input type="password" placeholder="Confirmer mot de passe" name="psw-repeat" required>

      <p>En créant le compte vous acceptez les <a href="#" style="color:dodgerblue">conditions d'utilisation & politique de confidentialité</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Annuler</button>
        <button type="submit" class="signupbtnregister">Terminer l'inscription</button>
      </div>
    
      </div>
  </form>
</div>
      
<!--fin popup inscription-->

    
<!--popup connexion-->
    
 <div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content animate" method="post" action="#">

    <div class="container">
      {% csrf_token %}
      {{ loginform.as_p }}
        
      <button type="submit" class="loginbtnlogin">Connexion</button>
      <label>
        <input type="checkbox" checked="checked" name="souvenir"> Se souvenir de moi
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtnlogin">Annuler</button>
      <span class="psw"><a href="#">mot de passe oublié ?</a></span>
    </div>
  </form>
</div>   
    
<!--fin popup connexion-->
    
<!--FIN TOPNAVIGATION-->
    
</body>
</html>