{% extends "front/connexion.html" %}
{%load static%}
{% if user.is_authenticated %}
    {% block connection %}
    {% endblock %}
{% endif %}

{% block content %}
    <h2>Bienvenue 
        {{ user.username }}
    </h2>
    <p>Pour accedez à votre platforme veuillez vous inscire et télécharger l'application</p>
    
<div class="main">
<img class="phoneappli" src="{% static 'front/image/phoneappli.png' %}" alt="phone" width="300" height="400"/>


    <div class="onglet">
        <div class="inception">
        <p class="titreonglet">SupShop</p>
            <form action="#" method="post">
            {% csrf_token %}
            {{ loginform.as_p }}
        <button type="submit" class="loginbtnlogin">Connexion</button>
            </form>
        <p>Pas encore inscrit ?!</p>
        <button class="loginbtnregister" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Inscription</button>
        </div>
    </div>
</div>




<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" method="post" action="#">
    <div class="container">
        {% csrf_token %}
        {{ registerform.as_p }}

      <p>En créant le compte vous acceptez les <a href="#" style="color:dodgerblue">conditions d'utilisation & politique de confidentialité</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Annuler</button>
        <button type="submit" class="signupbtnregister">Terminer l'inscription</button>
      </div>
    
      </div>
  </form>
</div>
{% endblock %}