<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" method="post" action="#">
    <div class="container">
      <h1>Inscription</h1>
      <p>Merci de remplir les champs pour créer votre compte</p>
      <hr>
      <label for="Nom"><b>Nom</b></label>
      <input type="text" placeholder="Nom" name="Nom" required>
        
      <label for="Prenom"><b>Prenom</b></label>
      <input type="text" placeholder="Prenom" name="Prenom" required>
        
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="exemple.ex@exemple.com" name="email" required>

      <label for="psw"><b>Mot de passe</b></label>
      <input type="password" placeholder="mot de passe" name="psw" required>

      <label for="psw-repeat"><b>Confirmation de mot de passe</b></label>
      <input type="password" placeholder="Confirmer mot de passe" name="psw-repeat" required>

      <p>En créant le compte vous acceptez les <a href="#" style="color:dodgerblue">conditions d'utilisation & politique de confidentialité</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Annuler</button>
        <button type="submit" class="signupbtnregister">Terminer l'inscription</button>
      </div>
    
      </div>
  </form>
</div>